# H. Investigation of the valuabble importance

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#load
lg = pd.read_csv('../data/Significant_Score/re_LG_Significance_Score.csv')
knn = pd.read_csv('../data/Significant_Score/re_T_SMOTE_KNN_Significance_Score.csv')
rf =pd.read_csv('../data/Significant_Score/RE_T_SMOTE_RF_Significance_Score.csv')
gb = pd.read_csv('../data/Significant_Score/re_SMOTE_GB_Significance_Score.csv')

In [4]:
lg

,paperless_billing_No,payment_method_Credit card (automatic),partner_Yes,payment_method_Mailed check,tech_support_Yes,payment_method_Bank transfer (automatic),multiple_lines_No,total_charges,online_security_Yes,contract_One year,...,senior_citizen_Yes,streaming_movies_No,streaming_tv_Yes,online_security_No,dependents_No,streaming_movies_Yes,contract_Month-to-month,multiple_lines_No phone service,monthly_charges,internet_service_Fiber optic
0,0.110121,0.086441,0.086186,0.084576,0.08299,0.082869,0.07977,0.074697,0.073571,0.066646,...,0.032058,0.031598,0.029007,0.027942,0.027579,0.023511,0.021877,0.020073,0.013027,0.006114

In [5]:
knn

,total_charges,monthly_charges,payment_method_Mailed check,payment_method_Electronic check,payment_method_Credit card (automatic),contract_One year,dependents_No,payment_method_Bank transfer (automatic),contract_Month-to-month,online_backup_Yes,...,senior_citizen_Yes,internet_service_Fiber optic,streaming_movies_Yes,tech_support_No internet service,online_backup_No internet service,online_security_No internet service,internet_service_No,device_protection_No internet service,streaming_movies_No internet service,streaming_tv_No internet service
0,0.052022,0.01793,0.015787,0.013172,0.01224,0.010218,0.010036,0.009407,0.009383,0.007881,...,0.001453,0.001344,0.001199,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
rf

,total_charges,monthly_charges,tech_support_No,contract_Two year,contract_Month-to-month,payment_method_Electronic check,online_security_No,paperless_billing_No,online_security_Yes,contract_One year,...,streaming_movies_Yes,streaming_tv_Yes,multiple_lines_No phone service,streaming_movies_No internet service,streaming_tv_No internet service,online_security_No internet service,online_backup_No internet service,internet_service_No,tech_support_No internet service,device_protection_No internet service
0,0.130387,0.053414,0.029927,0.029818,0.02523,0.024952,0.023099,0.023063,0.021998,0.019128,...,0.006453,0.005387,0.000944,0.000581,0.000194,0.000194,0.000109,0.000048,0.000024,0.000024

In [7]:
gb

,total_charges,monthly_charges,payment_method_Mailed check,payment_method_Electronic check,payment_method_Credit card (automatic),paperless_billing_No,payment_method_Bank transfer (automatic),multiple_lines_No,partner_Yes,partner_No,...,streaming_movies_Yes,internet_service_Fiber optic,tech_support_No internet service,internet_service_No,online_security_No internet service,online_backup_No internet service,device_protection_No internet service,streaming_movies_No internet service,streaming_tv_No internet service,multiple_lines_No phone service
0,0.128293,0.047772,0.023632,0.022191,0.017857,0.016852,0.01586,0.013293,0.010617,0.010508,...,0.0027,0.002034,0.000799,0.000799,0.000351,0.000351,0.000351,0.000242,0.000048,0.000036

### choose top 10 and extract column names

In [8]:
column_names = []

for name in knn.columns[:10]:
    column_names.append(name)
for name in lg.columns[:10]:
    column_names.append(name)
for name in rf.columns[:10]:
    column_names.append(name)
for name in gb.columns[:10]:
    column_names.append(name)
    
column_names

['total_charges',
 'monthly_charges',
 'payment_method_Mailed check',
 'payment_method_Electronic check',
 'payment_method_Credit card (automatic)',
 'contract_One year',
 'dependents_No',
 'payment_method_Bank transfer (automatic)',
 'contract_Month-to-month',
 'online_backup_Yes',
 'paperless_billing_No',
 'payment_method_Credit card (automatic)',
 'partner_Yes',
 'payment_method_Mailed check',
 'tech_support_Yes',
 'payment_method_Bank transfer (automatic)',
 'multiple_lines_No',
 'total_charges',
 'online_security_Yes',
 'contract_One year',
 'total_charges',
 'monthly_charges',
 'tech_support_No',
 'contract_Two year',
 'contract_Month-to-month',
 'payment_method_Electronic check',
 'online_security_No',
 'paperless_billing_No',
 'online_security_Yes',
 'contract_One year',
 'total_charges',
 'monthly_charges',
 'payment_method_Mailed check',
 'payment_method_Electronic check',
 'payment_method_Credit card (automatic)',
 'paperless_billing_No',
 'payment_method_Bank transfer (automatic)',
 'multiple_lines_No',
 'partner_Yes',
 'partner_No']

In [9]:
from collections import Counter

# Count the occurrences of each value
value_counts = Counter(column_names)

# Display the count of each value
for value, count in value_counts.items():
    print(f'{value}: {count}')

total_charges: 4
monthly_charges: 3
payment_method_Mailed check: 3
payment_method_Electronic check: 3
payment_method_Credit card (automatic): 3
contract_One year: 3
dependents_No: 1
payment_method_Bank transfer (automatic): 3
contract_Month-to-month: 2
online_backup_Yes: 1
paperless_billing_No: 3
partner_Yes: 2
tech_support_Yes: 1
multiple_lines_No: 2
online_security_Yes: 2
tech_support_No: 1
contract_Two year: 1
online_security_No: 1
partner_No: 1

In [14]:
variable_frequencies_dict = {}
for value, count in value_counts.items():
    
    variable_frequencies_dict[value] = count
frequency_df = pd.DataFrame(variable_frequencies_dict.items(), columns=['Variable', 'Frequency'])

frequency_df

                                    Variable  Frequency
0                              total_charges          4
1                            monthly_charges          3
2                payment_method_Mailed check          3
3            payment_method_Electronic check          3
4     payment_method_Credit card (automatic)          3
5                          contract_One year          3
6                              dependents_No          1
7   payment_method_Bank transfer (automatic)          3
8                    contract_Month-to-month          2
9                          online_backup_Yes          1
10                      paperless_billing_No          3
11                               partner_Yes          2
12                          tech_support_Yes          1
13                         multiple_lines_No          2
14                       online_security_Yes          2
15                           tech_support_No          1
16                         contract_Two year          1
17                        online_security_No          1
18                                partner_No          1

In [30]:
sorted_df = frequency_df.sort_values(by='Frequency', ascending=False)
sorted_df

                                    Variable  Frequency
0                              total_charges          4
1                            monthly_charges          3
2                payment_method_Mailed check          3
3            payment_method_Electronic check          3
4     payment_method_Credit card (automatic)          3
5                          contract_One year          3
7   payment_method_Bank transfer (automatic)          3
10                      paperless_billing_No          3
8                    contract_Month-to-month          2
13                         multiple_lines_No          2
11                               partner_Yes          2
14                       online_security_Yes          2
6                              dependents_No          1
9                          online_backup_Yes          1
12                          tech_support_Yes          1
15                           tech_support_No          1
16                         contract_Two year          1
17                        online_security_No          1
18                                partner_No          1

In [15]:
lg2 = pd.read_csv('../data/Re_Significant_Score/down_re_LG_Significance_Score.csv')
lg2

,total_charges,internet_service_Fiber optic,contract_Month-to-month,internet_service_DSL,contract_Two year,payment_method_Electronic check,streaming_tv_Yes,payment_method_Credit card (automatic),online_security_Yes,online_backup_No,...,online_security_No internet service,internet_service_No,streaming_movies_No internet service,tech_support_No internet service,online_backup_No internet service,device_protection_No internet service,streaming_tv_No internet service,multiple_lines_No,payment_method_Mailed check,multiple_lines_Yes
0,0.082676,0.011639,0.009532,0.006823,0.004281,0.003177,0.002441,0.001037,0.000836,0.000635,...,-0.002943,-0.002943,-0.002943,-0.002943,-0.002943,-0.002943,-0.002943,-0.002977,-0.002977,-0.004716

### create a dataframe

In [32]:
reshaped_df = lg2.transpose().reset_index()
reshaped_df.columns = ['factor', 'value']
reshaped_df['model'] = 'Logistic2'

reshaped_df = reshaped_df[['model', 'factor', 'value']]
reshaped_df.columns = ['model', 'factor', 'value']
reshaped_df.head(2)

       model                        factor     value
0  Logistic2                 total_charges  0.082676
1  Logistic2  internet_service_Fiber optic  0.011639

In [33]:
reshaped_df2 = lg.transpose().reset_index()
reshaped_df2.columns = ['factor', 'value']
reshaped_df2['model'] = 'Logistic'

reshaped_df2 = reshaped_df2[['model', 'factor', 'value']]
reshaped_df2.columns = ['model', 'factor', 'value']
reshaped_df2.head(2)

      model                                  factor     value
0  Logistic                    paperless_billing_No  0.110121
1  Logistic  payment_method_Credit card (automatic)  0.086441

In [34]:
reshaped_df3 = knn.transpose().reset_index()
reshaped_df3.columns = ['factor', 'value']
reshaped_df3['model'] = 'K-Nearest Neighbors'

reshaped_df3 = reshaped_df3[['model', 'factor', 'value']]
reshaped_df3.columns = ['model', 'factor', 'value']
reshaped_df3.head(2)

                 model           factor     value
0  K-Nearest Neighbors    total_charges  0.052022
1  K-Nearest Neighbors  monthly_charges  0.017930

In [35]:
reshaped_df4 = rf.transpose().reset_index()
reshaped_df4.columns = ['factor', 'value']
reshaped_df4['model'] = 'Random Forest'

reshaped_df4 = reshaped_df4[['model', 'factor', 'value']]
reshaped_df4.columns = ['model', 'factor', 'value']
reshaped_df4.head(2)

           model           factor     value
0  Random Forest    total_charges  0.130387
1  Random Forest  monthly_charges  0.053414

In [36]:
reshaped_df5 = gb.transpose().reset_index()
reshaped_df5.columns = ['factor', 'value']
reshaped_df5['model'] = 'Gradient Boosting'

reshaped_df5 = reshaped_df5[['model', 'factor', 'value']]
reshaped_df5.columns = ['model', 'factor', 'value']
reshaped_df5.head(2)

               model           factor     value
0  Gradient Boosting    total_charges  0.128293
1  Gradient Boosting  monthly_charges  0.047772

In [46]:
# concatnate all dataframes
factors = pd.concat([reshaped_df2,reshaped_df3,reshaped_df4,reshaped_df5,reshaped_df], axis=0)
factors.reset_index(drop=True)

         model                                  factor     value
0     Logistic                    paperless_billing_No  0.110121
1     Logistic  payment_method_Credit card (automatic)  0.086441
2     Logistic                             partner_Yes  0.086186
3     Logistic             payment_method_Mailed check  0.084576
4     Logistic                        tech_support_Yes  0.082990
..         ...                                     ...       ...
200  Logistic2   device_protection_No internet service -0.002943
201  Logistic2        streaming_tv_No internet service -0.002943
202  Logistic2                       multiple_lines_No -0.002977
203  Logistic2             payment_method_Mailed check -0.002977
204  Logistic2                      multiple_lines_Yes -0.004716

[205 rows x 3 columns]

In [47]:
factors

        model                                  factor     value
0    Logistic                    paperless_billing_No  0.110121
1    Logistic  payment_method_Credit card (automatic)  0.086441
2    Logistic                             partner_Yes  0.086186
3    Logistic             payment_method_Mailed check  0.084576
4    Logistic                        tech_support_Yes  0.082990
..        ...                                     ...       ...
36  Logistic2   device_protection_No internet service -0.002943
37  Logistic2        streaming_tv_No internet service -0.002943
38  Logistic2                       multiple_lines_No -0.002977
39  Logistic2             payment_method_Mailed check -0.002977
40  Logistic2                      multiple_lines_Yes -0.004716

[205 rows x 3 columns]

In [49]:
factors['value'] = factors['value'].astype(float).apply(lambda x: '{:.4f}'.format(x))

factors

        model                                  factor    value
0    Logistic                    paperless_billing_No   0.1101
1    Logistic  payment_method_Credit card (automatic)   0.0864
2    Logistic                             partner_Yes   0.0862
3    Logistic             payment_method_Mailed check   0.0846
4    Logistic                        tech_support_Yes   0.0830
..        ...                                     ...      ...
36  Logistic2   device_protection_No internet service  -0.0029
37  Logistic2        streaming_tv_No internet service  -0.0029
38  Logistic2                       multiple_lines_No  -0.0030
39  Logistic2             payment_method_Mailed check  -0.0030
40  Logistic2                      multiple_lines_Yes  -0.0047

[205 rows x 3 columns]

In [50]:
# save the file 
sorted_df.to_csv('../data/memo/frequency.csv', index=False)
factors.to_csv('../data/memo/factors3.csv', index=False)

### Get the percentage of features

In [54]:
reshaped_df2.head(2)

      model                                  factor     value
0  Logistic                    paperless_billing_No  0.110121
1  Logistic  payment_method_Credit card (automatic)  0.086441

In [71]:
LG = reshaped_df2.copy()
LG['percentage'] = (LG['value'] / LG['value'].sum() * 100).round(2)
LG.head()

      model                                  factor     value  percentage
0  Logistic                    paperless_billing_No  0.110121        5.56
1  Logistic  payment_method_Credit card (automatic)  0.086441        4.36
2  Logistic                             partner_Yes  0.086186        4.35
3  Logistic             payment_method_Mailed check  0.084576        4.27
4  Logistic                        tech_support_Yes  0.082990        4.19

In [73]:
KNN = reshaped_df3.copy()
KNN['percentage'] = (KNN['value'] / KNN['value'].sum() * 100).round(2)
KNN.head()

,model,factor,value,percentage
0,K-Nearest Neighbors,total_charges,0.052022,19.69
1,K-Nearest Neighbors,monthly_charges,0.017930,6.78
2,K-Nearest Neighbors,payment_method_Mailed check,0.015787,5.97
3,K-Nearest Neighbors,payment_method_Electronic check,0.013172,4.98
4,K-Nearest Neighbors,payment_method_Credit card (automatic),0.012240,4.63

In [74]:
RF = reshaped_df4.copy()
RF['percentage'] = (RF['value'] / RF['value'].sum() * 100).round(2)
RF.head()

           model                   factor     value  percentage
0  Random Forest            total_charges  0.130387       20.57
1  Random Forest          monthly_charges  0.053414        8.43
2  Random Forest          tech_support_No  0.029927        4.72
3  Random Forest        contract_Two year  0.029818        4.70
4  Random Forest  contract_Month-to-month  0.025230        3.98

In [75]:
GB = reshaped_df5.copy()
GB['percentage'] = (GB['value'] / GB['value'].sum() * 100).round(2)
GB.head()

,model,factor,value,percentage
0,Gradient Boosting,total_charges,0.128293,27.94
1,Gradient Boosting,monthly_charges,0.047772,10.41
2,Gradient Boosting,payment_method_Mailed check,0.023632,5.15
3,Gradient Boosting,payment_method_Electronic check,0.022191,4.83
4,Gradient Boosting,payment_method_Credit card (automatic),0.017857,3.89

In [83]:
#combine

# Merge LG and KNN DataFrames
merged_df1 = pd.merge(LG[['factor', 'percentage']], KNN[['factor', 'percentage']], on='factor')

# Merge RF and GB DataFrames
merged_df2 = pd.merge(RF[['factor', 'percentage']], GB[['factor', 'percentage']], on='factor')

# Combine the merged DataFrames
merged_df = merged_df1.merge(merged_df2, on='factor')

merged_df.head()

,factor,percentage_x_x,percentage_y_x,percentage_x_y,percentage_y_y
0,paperless_billing_No,5.56,2.06,3.64,3.67
1,payment_method_Credit card (automatic),4.36,4.63,3.01,3.89
2,partner_Yes,4.35,2.15,2.41,2.31
3,payment_method_Mailed check,4.27,5.97,2.39,5.15
4,tech_support_Yes,4.19,2.69,2.82,1.91

In [85]:
merged_df['percentages(AVG)'] = ((merged_df['percentage_x_x'] + merged_df['percentage_y_x'] +
merged_df['percentage_x_y'] + merged_df['percentage_y_y']) /4) .round(2)

merged_df.head()

,factor,percentage_x_x,percentage_y_x,percentage_x_y,percentage_y_y,percentages(AVG)
0,paperless_billing_No,5.56,2.06,3.64,3.67,3.73
1,payment_method_Credit card (automatic),4.36,4.63,3.01,3.89,3.97
2,partner_Yes,4.35,2.15,2.41,2.31,2.80
3,payment_method_Mailed check,4.27,5.97,2.39,5.15,4.44
4,tech_support_Yes,4.19,2.69,2.82,1.91,2.90

In [87]:
factors4 = merged_df[['factor', 'percentages(AVG)']]
factors4

                                      factor  percentages(AVG)
0                       paperless_billing_No              3.73
1     payment_method_Credit card (automatic)              3.97
2                                partner_Yes              2.80
3                payment_method_Mailed check              4.44
4                           tech_support_Yes              2.90
5   payment_method_Bank transfer (automatic)              3.34
6                          multiple_lines_No              2.84
7                              total_charges             17.99
8                        online_security_Yes              2.92
9                          contract_One year              2.95
10                         online_backup_Yes              2.41
11                            dependents_Yes              2.04
12                                partner_No              2.34
13                         senior_citizen_No              2.06
14                         contract_Two year              3.08
15                        multiple_lines_Yes              1.76
16                     paperless_billing_Yes              2.07
17           payment_method_Electronic check              4.07
18                     device_protection_Yes              1.43
19                          online_backup_No              1.94
20                           streaming_tv_No              1.37
21                      internet_service_DSL              1.28
22                      device_protection_No              1.41
23                           tech_support_No              2.56
24      streaming_movies_No internet service              0.46
25          streaming_tv_No internet service              0.43
26     device_protection_No internet service              0.44
27         online_backup_No internet service              0.44
28          tech_support_No internet service              0.46
29       online_security_No internet service              0.45
30                       internet_service_No              0.46
31                        senior_citizen_Yes              1.29
32                       streaming_movies_No              1.44
33                          streaming_tv_Yes              0.91
34                        online_security_No              2.40
35                             dependents_No              1.85
36                      streaming_movies_Yes              0.81
37                   contract_Month-to-month              2.66
38           multiple_lines_No phone service              0.43
39                           monthly_charges              6.57
40              internet_service_Fiber optic              0.78